.interests {
    width: 100%;   
    height: 85vh;
    text-align: center;
    padding: 4rem 0;
    background-color: #847F8C;
}

.interests h2 {
    padding: 1rem;
    text-shadow: #ffffff;
    color: #F8F9F9; 
    font-family: 'Courier New', Courier, monospace;
}


.container {
    display: flex;
    justify-content:center;
    /* align-items: stretch; */
}

.card-container {
    border-radius: 10px;
    max-width: 500px;
    width: auto;
    height: auto;
    flex-direction: column;
    flex: 1;
}

.card-container2 {
    border-radius: 10px;
    max-width: 500px;
    width: auto;
    height: auto;
    flex-direction: column;
    flex: 1;
}

.container .card-container .philosophy,
.container .card-container2 .classical {
    background-color: #EFF0EC;
    color: #4A3E5A;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 400px;
    min-width: 200px;
    width: auto;
    height: auto;
    user-select: none;
}

.container .card-container .philosophy:hover {
    cursor: pointer;
    background-color: #4A3E5A;
    color: #EFF0EC;
}

.container .card-container2 .classical:hover {
    cursor: pointer;
    background-color: #4A3E5A;
    color: #EFF0EC;
}

.card img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    object-fit: cover;
    max-height: 275px;
    max-width: 250px;
    margin-bottom: 1.5rem;
    border-radius: 6px;
}

@media screen and (max-width: 940px) {
    .interests {
        height: auto;
    }
    .container {
        flex-direction: column;
        align-items: center;
    }

    .container .card-container2 {
        margin-top: 2rem;
    }
}