.goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    min-height: 90vh;
}

.goals h2 {
    padding: 1rem;
    text-shadow: #ffffff;
    color: #414f7a; 
    font-family:'Courier New', Courier, monospace
}

.goals .container .card {
    margin: 2rem;
    background-color: #6AA1D7;
}

.goals .container .card2 {
    margin: 2rem;
    background-color: #AAAEE5;
}

.goals .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.goals .img-container img {
    max-width: 300px;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@media screen and (max-width: 940px) {
    .row2 {
        flex-direction: column-reverse;
    }
}